wifi_ssid: "your_wifi_ssid"
wifi_password: "your_wifi_password"
echo_pyramid_api_key: "generate with: esphome generate-api-key"
echo_pyramid_ota_password: "your_ota_password"
echo_pyramid_ap_password: "your_ap_password"
